<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ page.title }} | Sanjidah Jahan</title>

  <link rel="stylesheet" href="{{ '/style.css' | relative_url }}">
</head>

<body class="page-{{ page.title | slugify }}">

  <nav>
    <a href="{{ '/' | relative_url }}">Home</a>
    ·
    <a href="{{ '/about.html' | relative_url }}">About Me</a>
    ·
    <a href="{{ '/documentation.html' | relative_url }}">Project Documentation</a>
  </nav>

  <main>
    {{ content }}
  </main>

  <footer>
    <a href="mailto:sj3334@barnard.edu">Email</a>
    <span>·</span>
    <a href="https://github.com/Sanjidahjahan" target="_blank">GitHub</a>
  </footer>

</body>
</html>
